/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.neoship table input{
	max-width: 100%;
}

.post-type-shop_order .neoship table .order-preview{
	float: initial;
	padding: 4px 4px 4px 4px;
}

.neoship table .order-preview::before{
	display: none;
}

.order-status.status-export-to-neoship{
	background: #d43e25;
	color: white;
}

.widefat .column-wc_actions .neoship-tracking::after{
	content: "\f319";
}

.neoship-gls .neoship-col-holddelivery > *,
.neoship-gls .neoship-col-count > *,
.neoship-gls .neoship-deliverytype > *,
.neoship-gls .neoship-col-sms-email > *{
	display: none;
}

.neoship-gls .sps-logo,
.neoship-gls .packeta-logo,
.neoship-gls .k123-logo,
.neoship-gls .dpd-logo
{
	display: none;
}

.neoship-sps .gls-logo,
.neoship-sps .packeta-logo,
.neoship-sps .k123-logo,
.neoship-sps .dpd-logo
{
	display: none;
}

.neoship-packeta .sps-logo,
.neoship-packeta .gls-logo,
.neoship-packeta .k123-logo,
.neoship-packeta .dpd-logo
{
	display: none;
}

.neoship-123 .sps-logo,
.neoship-123 .gls-logo,
.neoship-123 .packeta-logo,
.neoship-123 .dpd-logo
{
	display: none;
}

.neoship-dpd .sps-logo,
.neoship-dpd .gls-logo,
.neoship-dpd .packeta-logo,
.neoship-dpd .k123-logo
{
	display: none;
}

.neoship-col-shipper-select img{
	vertical-align: middle;
}